<abp-modal
  appEscCloseModal
  [suppressUnsavedChangesWarning]="true"
  [(visible)]="service.showDetails"
  [options]="{
    size: 'xl',
    animation: true,
    centered: true,
  }"
  [suppressUnsavedChangesWarning]="true"
  (disappear)="service.closeDetails()">
  <ng-template #abpHeader>
    <h3>Material Details</h3>
  </ng-template>

  <ng-template #abpBody>
    <div class="stock-details-container">
      <form [formGroup]="basicInfoForm" class="mb-3" [skipValidation]="true">
        <div class="row g-2">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="golfaCode">{{ '::Material Code' | abpLocalization }}</label>
              <input autocomplete="off" type="text" id="golfaCode" formControlName="golfaCode" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="sapCode">SAP Code</label>
              <input autocomplete="off" type="text" id="sapCode" formControlName="sapCode" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="model">{{ '::Model' | abpLocalization }}</label>
              <input autocomplete="off" type="text" id="model" formControlName="model" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="materialGroup">{{ '::MaterialGroup' | abpLocalization }}</label>
              <input
                autocomplete="off"
                type="text"
                id="materialGroup"
                formControlName="materialGroup"
                class="form-control" />
            </div>
          </div>
        </div>
      </form>
      <!-- Information Section -->
      <app-expandable-panel
        headerText="Information"
        panelId="info-section"
        iconPosition="start"
        [defaultCollapsed]="true"
        headerStyle="background-color: #4472c4; color: white;">
        <form [formGroup]="informationForm">
          <div class="row g-2">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="materialType">{{ '::MaterialType' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="materialType"
                  formControlName="materialType"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="supplierCode">{{ '::Supplier Code' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="supplierCode"
                  formControlName="supplierCode"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="unit">{{ '::Unit' | abpLocalization }}</label>
                <input autocomplete="off" type="text" id="unit" formControlName="unit" class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="productHierarchy">{{ '::ProductHierarchy' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="productHierarchy"
                  formControlName="productHierarchy"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="stockWarning">{{ '::Stock Warning' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="stockWarning"
                  formControlName="stockWarning"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="vat">VAT</label>
                <input autocomplete="off" type="text" id="vat" formControlName="vat" class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="descriptionEN">{{ '::DescriptionEN' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="descriptionEN"
                  formControlName="descriptionEN"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="descriptionVN">{{ '::DescriptionVN' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="descriptionVN"
                  formControlName="descriptionVN"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="SupplierBUCode">{{ '::Supplier BU Code' | abpLocalization }}</label>
                <input
                  autocomplete="off"
                  type="text"
                  id="supplierBUCode"
                  formControlName="supplierBUCode"
                  class="form-control" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-check">
                <input type="checkbox" id="epa" formControlName="epa" class="form-check-input" />
                <label for="epa" class="form-check-label">EPA</label>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label" for="note">{{ '::Note' | abpLocalization }}</label>
                <textarea id="note" formControlName="note" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </app-expandable-panel>

      <!-- Specifications Section -->
      <app-expandable-panel
        headerText="Specifications"
        panelId="specs-section"
        [defaultCollapsed]="true"
        iconPosition="start"
        headerStyle="background-color: #4472c4; color: white;">
        <form [formGroup]="specificationsForm">
          <div class="row g-2">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="spec1">{{ '::Spec1' | abpLocalization }}</label>
                <input autocomplete="off" type="text" id="spec1" formControlName="spec1" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="spec2">{{ '::Spec2' | abpLocalization }}</label>
                <input autocomplete="off" type="text" id="spec2" formControlName="spec2" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="spec3">{{ '::Spec3' | abpLocalization }}</label>
                <input autocomplete="off" type="text" id="spec3" formControlName="spec3" class="form-control" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label" for="spec4">{{ '::Spec4' | abpLocalization }}</label>
                <input autocomplete="off" type="text" id="spec4" formControlName="spec4" class="form-control" />
              </div>
            </div>
          </div>
        </form>
      </app-expandable-panel>

      <!-- Price Infos Section -->
      <app-expandable-panel
        headerText="Selling Price"
        panelId="price-section"
        iconPosition="start"
        [defaultCollapsed]="true"
        headerStyle="background-color: #4472c4; color: white;">
        <form [formGroup]="priceInfosForm">
          <div class="row g-2">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="standardPrice">
                  {{ '::StandardPrice' | abpLocalization }}
                </label>
                <app-input-number id="value" formControlName="standardPrice" [allowDecimal]="true"> </app-input-number>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="buyerPrice1">{{ '::BuyerPrice1' | abpLocalization }}</label>
                <app-input-number formControlName="buyerPrice1" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="buyerPrice2">{{ '::BuyerPrice2' | abpLocalization }}</label>
                <app-input-number formControlName="buyerPrice2" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="buyerPrice3">{{ '::BuyerPrice3' | abpLocalization }}</label>
                <app-input-number formControlName="buyerPrice3" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="buyerPrice4">{{ '::BuyerPrice4' | abpLocalization }}</label>
                <app-input-number formControlName="buyerPrice4" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="buyerPrice5">{{ '::BuyerPrice5' | abpLocalization }}</label>
                <app-input-number formControlName="buyerPrice5" [allowDecimal]="true" />
              </div>
            </div>
          </div>
        </form>
      </app-expandable-panel>

      <!-- Purchase Section -->
      <app-expandable-panel
        *abpPermission="AppPermissions.Materials.ViewPurchaseArea"
        headerText="Purchase"
        panelId="admin-section"
        [defaultCollapsed]="true"
        iconPosition="start"
        headerStyle="background-color: #4472c4; color: white;">
        <form [formGroup]="adminAreaForm">
          <div class="row g-2">
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="inputPrice">{{ '::Input Price' | abpLocalization }}</label>
                <app-input-number formControlName="inputPrice" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group">
                  <label class="form-label" for="inputCurrency">
                    {{ '::Input Currency' | abpLocalization }}
                  </label>
                  <input
                    autocomplete="off"
                    type="text"
                    id="inputCurrency"
                    formControlName="inputCurrency"
                    class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="landedCost">{{ '::Landed Cost' | abpLocalization }}</label>
                <app-input-number formControlName="landedCost" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="percentSaleDiscount"
                  >{{ '::Percent Sale Discount' | abpLocalization }} <strong>(%)</strong></label
                >
                <app-input-number formControlName="percentSaleDiscount" [allowDecimal]="true" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="form-label" for="percentManagerDiscount"
                  >{{ '::Percent Manager Discount' | abpLocalization }} <strong>(%)</strong></label
                >
                <app-input-number formControlName="percentManagerDiscount" [allowDecimal]="true" />
              </div>
            </div>
          </div>
        </form>
      </app-expandable-panel>
    </div>
  </ng-template>

  <ng-template #abpFooter></ng-template>
</abp-modal>
