<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end top-actions">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSearch()"
        placement="bottom"
        ngbTooltip="Search"
        triggers="hover">
        <i class="bi bi-search me-1"></i>
        <span>{{ '::Search' | abpLocalization }}</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="clearFilters()"
        placement="bottom"
        ngbTooltip="Clear"
        triggers="hover">
        <i class="bi bi-arrow-repeat me-1"></i>
        <span>{{ '::Clear' | abpLocalization }}</span>
      </button>
    </div>
  </abp-page-toolbar-container>

  <app-my-approvals-filter />

  <div class="card">
    <div class="card-body">
      <ngx-datatable
        class="bootstrap"
        default
        [rows]="service.dataApproval?.items"
        [count]="service.dataApproval?.totalCount"
        [list]="list">
        <ngx-datatable-column name="" [width]="40" [maxWidth]="40" [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div class="d-flex justify-content-center align-items-center gap-1">
              <button class="btn btn-link p-0" (click)="showHistory(row)">
                <i
                  class="bi bi-clock-history text-muted icon-hover-delete"
                  placement="top"
                  container="body"
                  ngbTooltip="History"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Status' | abpLocalization }}" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <app-status-label [status]="row.status"></app-status-label>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::RequestNo' | abpLocalization }}" prop="requestNo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a [routerLink]="getDetailUrl(row)" class="text-primary text-decoration-none cursor-pointer">
              {{ row.requestNo }}
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="File Name" prop="fileName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fileName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="M.Type" prop="importType">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.importType }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::Approvers' | abpLocalization }}"
          prop="currentApproverRoleName"
          [minWidth]="120"
          ellipsis="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [title]="row.currentApproverRoleName">
              <a style="color: #355dff; text-decoration: none" class="cursor-pointer" (click)="loadApprovalList(row)">
                {{ row.currentApproverRoleName }}
              </a>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Note" [minWidth]="180" prop="note">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="text-truncate d-inline-block">
              {{ row.note }}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::Info' | abpLocalization }}"
          headerClass="text-center"
          [sortable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <app-audit-info-column [creationTime]="row.creationTime" [creatorName]="row.creatorUsername">
            </app-audit-info-column>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<!-- Approver popup -->
<app-approvers-modal #approversModalComponent></app-approvers-modal>

<app-history-modal
  [isVisible]="showHistoryModal"
  [approvalHistories]="approvalHistories"
  (disappear)="closeHistoryDialog()" />
