<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
			<aspNetCore processPath="dotnet" arguments=".\QuoteFlow.HttpApi.Host.dll" stdoutLogEnabled="false" stdoutLogFile=".\Logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 150 MB -->
				<requestLimits maxAllowedContentLength="157286400" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="x-powered-by" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<!-- Explicitly pass backend routes to ASP.NET Core -->
				<rule name="Backend Routes" stopProcessing="true">
					<match url="^(app|abp|api|swagger|connect|Account|_vs|.well-known|health-status|health-ui|health-api)(.*)$" />
					<action type="None" />
				</rule>
				<!-- Serve static assets for Angular -->
				<rule name="Static Assets" stopProcessing="true">
					<match url="([\S]+\.(html|htm|svg|js|css|png|gif|jpg|jpeg|eot|ttf|woff2|svg|xlsx|ico|txt))" />
					<action type="Rewrite" url="/{R:1}" />
				</rule>
				<!-- Route frontend requests to Angular index.html -->
				<rule name="AngularRouter Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_URI}" pattern="^/api(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/.well-known(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/Account(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="/Error\?(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="/connect(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="/swagger(.*)$" negate="true" />
						<add input="{REQUEST_URI}" pattern="/_vs(.*)$" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/wwwRoot/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
