<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end top-actions">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onLoad()"
        placement="bottom"
        ngbTooltip="Search"
        triggers="hover">
        <i class="bi bi-search me-1"></i>
        <span>{{ '::Search' | abpLocalization }}</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="clearFilters()"
        placement="bottom"
        ngbTooltip="Clear"
        triggers="hover">
        <i class="bi bi-arrow-repeat me-1"></i>
        <span>{{ '::Clear' | abpLocalization }}</span>
      </button>
    </div>
  </abp-page-toolbar-container>
  <div class="card mb-3">
    <div class="card-body">
      @if (service.filters; as filters) {
        <form #filterForm>
          <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <label class="form-label" for="codeFilter">
                {{ '::Key' | abpLocalization }}
              </label>
              <input
                appTrim
                autocomplete="off"
                id="codeFilter"
                type="text"
                class="form-control"
                [(ngModel)]="filters.cfgKey"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
        </form>
      }
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <ngx-datatable
        default
        [rows]="service.data.items"
        [count]="service.data.totalCount"
        [list]="list"
        class="bootstrap">
        <ngx-datatable-column
          *abpPermission="AppPermissions.FAAdmins.EditSystemConfiguration"
          [name]=""
          [maxWidth]="40"
          [width]="40"
          [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div class="d-flex justify-content-center align-items-center gap-1">
              <button (click)="update(row)" class="btn btn-link p-0">
                <i class="fa fa-edit text-muted icon-hover-edit" placement="top" container="body" ngbTooltip="Edit"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Key" prop="cfgKey" ellipsis="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [title]="row.cfgKey">
              {{ row.cfgKey }}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description" prop="description" ellipsis="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [title]="row.description">
              {{ row.description }}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [maxWidth]="200" name="Value" prop="cfgValue" ellipsis="true">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [title]="row.cfgValue">
              {{ row.cfgValue }}
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

@defer (when serviceDetail.isVisible) {
  @if (serviceDetail.isVisible) {
    <app-system-configuration-category-detail-modal />
  }
}
