<abp-modal
  appEscCloseModal
  [suppressUnsavedChangesWarning]="true"
  [busy]="service.isBusy"
  [(visible)]="service.isVisible"
  [options]="{ size: 'lg', backdrop: 'static' }">
  <ng-template #abpHeader>
    <h3>{{ (service.selected ? '::Edit' : '::New') | abpLocalization }} System Configuration</h3>
  </ng-template>

  <ng-template #abpBody>
    <form
      [formGroup]="service.form"
      id="system-category"
      class="system-category-form"
      (ngSubmit)="submitForm()"
      [validateOnSubmit]="true">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label label-required" for="cfgValue">
              {{ '::Value' | abpLocalization }}
            </label>
            <input autocomplete="off" type="text" id="cfgValue" formControlName="cfgValue" class="form-control" />
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Cancel' | abpLocalization }}
    </button>

    <abp-button iconClass="fa fa-check" buttonType="submit" formName="system-category">
      {{ '::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>
