<abp-modal
  appEscCloseModal
  [(visible)]="visible"
  [suppressUnsavedChangesWarning]="true"
  [options]="{
    size: 'xl',
    animation: true,
    centered: true,
    backdrop: 'static',
    keyboard: false,
  }"
  [busy]="loading"
  (disappear)="closeModal()">
  <ng-template #abpHeader>
    <h4 class="d-flex align-items-center">
      <i class="bi bi-lock-fill me-2 text-warning"></i>
      On-order Stock
    </h4>
  </ng-template>

  <ng-template #abpBody>
    <div *ngIf="loading" class="text-center mb-3">
      <div class="spinner-border spinner-border-sm text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ms-2">Loading on order stock...</span>
    </div>

    <div class="content">
      <!-- Lock Stock Table -->
      <div class="mb-1">
        <div class="card-body p-0">
          <div *ngIf="tableLoading" class="text-center py-3">
            <div class="spinner-border spinner-border-sm text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-2">Loading on order stock data...</span>
          </div>
          <app-advanced-data-table
            *ngIf="!tableLoading"
            [data]="onOrderStockData"
            [height]="'auto'"
            [showGroupHeaders]="true"
            [showSummary]="false"
            [enableSelection]="false">
            <app-table-column-group name="On Order Stock Information" cssClass="group-header on-orser-stock-group">
              <!-- PO No Column -->
              <app-table-column field="poNo" header="PO No" width="200px" textAlign="start"> </app-table-column>

              <!-- PO Date Column -->
              <app-table-column
                field="poDate"
                header="Po Date"
                width="125px"
                textAlign="start"
                [formatter]="formatDate">
              </app-table-column>

              <!-- On-order Stock Column -->
              <app-table-column field="qtyAvailable" header="On-order Stock" width="150px" textAlign="end">
              </app-table-column>
              <!-- Machine No -->
              <app-table-column field="machineNo" header="Machine No" width="175px" textAlign="start">
              </app-table-column>

              <!-- Supplier Reply -->
              <app-table-column field="supplierReply" header="Supplier Reply" width="200px" textAlign="start">
              </app-table-column>

              <!-- mevnAddRequest -->
              <app-table-column field="mevnAddRequest" header="MEVN Add Request" width="200px" textAlign="start">
              </app-table-column>
            </app-table-column-group>
          </app-advanced-data-table>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #abpFooter> </ng-template>
</abp-modal>
