.filter-pane {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.filter-pane.show {
  max-height: 1000px;
  margin-top: 0.5rem;
}

.card {
  background-color: #fcfcfd;
  margin-bottom: 0px;
  border: 1px solid #e9ecef !important;

  .card-body {
    padding: 0.5rem 1rem;
  }
}

:host ::ng-deep .dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
