<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end top-actions">
      <button
        type="button"
        class="btn btn-primary"
        (click)="filter.onSearch()"
        placement="bottom"
        ngbTooltip="Search"
        triggers="hover">
        <i class="bi bi-search me-1"></i>
        <span>{{ '::Search' | abpLocalization }}</span>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="filter.onClear()"
        placement="bottom"
        ngbTooltip="Clear"
        triggers="hover">
        <i class="bi bi-arrow-repeat me-1"></i>
        <span>{{ '::Clear' | abpLocalization }}</span>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="importExcel()"
        placement="bottom"
        ngbTooltip="Import"
        triggers="hover">
        <i class="bi bi-upload me-1"></i>
        <span>{{ '::Import' | abpLocalization }}</span>
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="exportToExcel()"
        placement="bottom"
        ngbTooltip="Export"
        triggers="hover">
        <i class="bi bi-download me-1"></i>
        <span>{{ '::Export' | abpLocalization }}</span>
      </button>
      <button
        class="btn btn-primary"
        type="button"
        (click)="create()"
        *abpPermission="AppPermissions.MasterDatas.CreateCustomer"
        placement="bottom"
        ngbTooltip="Add New"
        triggers="hover">
        <i class="fa fa-plus me-1"></i>
        <span>{{ '::AddNew' | abpLocalization }}</span>
      </button>
    </div>
  </abp-page-toolbar-container>

  <!-- Filter component with template reference -->
  <app-customer-filter #filter></app-customer-filter>

  <div class="card">
    <div class="card-body">
      <ngx-datatable
        default
        [rows]="filterService.data.items"
        [count]="filterService.data.totalCount"
        [list]="filterService.list"
        (page)="filter.updatePageThenSearch($event)"
        class="bootstrap">
        <ngx-datatable-column [name]="" [maxWidth]="80" [width]="80" [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div class="d-flex justify-content-center align-items-center gap-1">
              <button
                *abpPermission="AppPermissions.MasterDatas.EditCustomer"
                (click)="update(row)"
                class="btn btn-link p-0">
                <i class="fa fa-edit text-muted icon-hover-edit" placement="top" container="body" ngbTooltip="Edit"></i>
              </button>
              <button
                (click)="delete(row)"
                *abpPermission="AppPermissions.MasterDatas.DeleteCustomer"
                class="btn btn-link p-0">
                <i
                  class="fa fa-trash text-muted icon-hover-delete"
                  placement="top"
                  container="body"
                  ngbTooltip="Delete"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::TaxCode' | abpLocalization }}" prop="taxCode" [maxWidth]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.taxCode }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::CustomerName' | abpLocalization }}" prop="customerName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.customerName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Nationality' | abpLocalization }}" prop="country" [maxWidth]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.country }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::Customer Industry' | abpLocalization }}"
          prop="customerIndustry"
          [maxWidth]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.customerIndustry }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Address' | abpLocalization }}" prop="address">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.address }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Phone' | abpLocalization }}" prop="phone" [maxWidth]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.phone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Customer Type' | abpLocalization }}" prop="customerType" [maxWidth]="150">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.customerType }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ '::Info' | abpLocalization }}"
          headerClass="text-center"
          [sortable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <app-audit-info-column
              [creationTime]="row.creationTime"
              [creatorName]="row.creatorName"
              [lastModificationTime]="row.lastModificationTime"
              [lastModifierName]="row.lastModifierName">
            </app-audit-info-column>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

@defer (when serviceDetail.isVisible) {
  @if (serviceDetail.isVisible) {
    <app-customer-detail-modal />
  }
}

<abp-modal
  [(visible)]="showImport"
  [options]="{
    centered: true,
    backdrop: 'static',
    keyboard: true,
    size: 'xl',
  }"
  [suppressUnsavedChangesWarning]="true"
  (disappear)="onCloseImportModal()">
  <ng-template #abpHeader>
    <h3>Import Customer</h3>
  </ng-template>

  <ng-template #abpBody>
    <app-import-customer-modal #importCustomer />
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Cancel' | abpLocalization }}
    </button>

    <button class="btn btn-primary" iconClass="fa fa-check" type="button" (click)="verifyData()">
      {{ '::Verify' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<abp-modal
  [suppressUnsavedChangesWarning]="true"
  [(visible)]="showResultImport"
  [options]="{
    centered: true,
    keyboard: true,
    fullscreen: true,
    windowClass: 'modal-fullscreen modal-max-fullscreen',
  }"
  (disappear)="onCloseImportResultModal()">
  <ng-template #abpHeader>
    <app-error-display
      [fileName]="resultImports?.fileName"
      [errors]="resultImports?.errors"
      [customMessage]="'Errors: ' + totalImportErrors">
    </app-error-display>
  </ng-template>

  <ng-template #abpBody>
    <app-result-import-customer [resultImport]="resultImports" />
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose (click)="onBack()">
      {{ '::Back' | abpLocalization }}
    </button>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="totalImportErrors > 0 || submitting"
      (click)="onSubmitImport()">
      <i class="bi bi-send"></i>
      <span class="ms-1">Submit</span>
    </button>
  </ng-template>
</abp-modal>
